.banner-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 50px;
}

.banner {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(111, 3, 180);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    height: 400px;
    box-shadow: 0 16px 32px rgb(111, 3, 180);
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.banner h1 {
    color: aliceblue;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.banner h2 {
    color: aliceblue;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.banner p {
    color: aliceblue;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
}

.banner button {
    background-color: blueviolet;
    color: aliceblue;
    padding: 10px;
    font-size: 20px;
    width: 60%;
}